{{outlet}}
<h2>FAVOURITES</h2>

{{#each model as |movie|}}
	{{#paper-card as |card|}}
		<img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="Image" title={{movie.title}} style="width:300px;height:300px">
		{{#paper-button onClick=(action 'delete' movie)}}Delete{{/paper-button}}
	{{/paper-card}}
{{/each}}